<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo-List</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="container">
    <header>
        <nav>
            <a href="/">Home</a>&ensp;<a href="/about">About</a>
        </nav>
    </header>
    <h3>Tasks</h3>
    <div class="toDoList">
        <input type="button" value="CreateTask" onclick='document.location="/create.html"'>
        <ul class="toDoContainer">
        </ul>
    </div>
</div>
<script type="text/javascript" src="../scripts/toDoScript.js" ></script>
</body>
</html>